body {
    background-color: lightblue;
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.banner{
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
}

.bannercontact{
    margin-top: 37%;
}

.forum{
    text-align: center;
}